@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
  
  --primary: #a16207;
  --secondary: #78716c;
  --accent: #eab308;
  
  --info: #0ea5e9;
  --warning: #f59e0b;
  --danger: #e11d48;
  --success: #15803d;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-success: var(--success);
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #f5f5f4;
    
    --primary: #ca8a04;
    --secondary: #a8a29e; 
    --accent: #facc15; 
    
    --info: #38bdf8;
    --warning: #fbbf24;
    --danger: #fb7185;
    --success: #4ade80;
  }
}